.mosaic-container{
    margin-top: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.card{
    background-color: blueviolet;
    color:aliceblue;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    box-sizing: border-box;
}

.points{
    color: aliceblue;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding: 20px 10px 0;
    gap: 8px;
}

#bien{
    color: rgb(60 215 60);
}

#mal{
    color: #f43b3b;
}

.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #160231;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    width: 98vw;
    height: 98vh;
    color: aliceblue;
}

.button{
    cursor: pointer;
    color: blueviolet;
}

@media only screen and (max-width: 730px){
    .mosaic-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .popup{
        width: 97vw;
    }
}